﻿<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="" alt="Invoice Tracking" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Master Data
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="#">Invoice Status</a>
                        </li>
                        <li>
                            <a href="#">Customer</a>
                        </li>
                        <li>
                            <a href="#">User</a>
                        </li>
                        <li>
                            <a href="#">User Role</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Transaction
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="#">Data Invoice</a>
                        </li>
                        <li>
                            <a href="#">Change Status Invoice</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-bell"></i>Alert Management
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>