﻿<!DOCTYPE html>
<html lang="id">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Invoice Tracking Sysem">
    <meta name="author" content="dheroefic">
    <meta name="keywords" content="System">

    <!-- Title Page-->
    <title>@ViewBag.Title - Invoice Tracking System</title>

    <!-- Fontfaces CSS-->
    @Styles.Render("~/Assets/css/font-face.css")
    @Styles.Render("~/Assets/vendor/font-awesome-4.7/css/font-awesome.min.css")
    @Styles.Render("~/Assets/vendor/font-awesome-5/css/fontawesome-all.min.css")
    @Styles.Render("~/Assets/vendor/mdi-font/css/material-design-iconic-font.min.css")

    <!-- Bootstrap CSS-->
    @Styles.Render("~/Assets/vendor/bootstrap-4.1/bootstrap.min.css")

    <!-- Vendor CSS-->
    @Styles.Render("~/Assets/vendor/animsition/animsition.min.css")
    @Styles.Render("~/Assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css")
    @Styles.Render("~/Assets/vendor/wow/animate.css")
    @Styles.Render("~/Assets/vendor/css-hamburgers/hamburgers.min.css")
    @Styles.Render("~/Assets/vendor/slick/slick.css")
    @Styles.Render("~/Assets/vendor/select2/select2.min.css")
    @Styles.Render("~/Assets/vendor/perfect-scrollbar/perfect-scrollbar.css")

    <!-- Main CSS-->
    @Styles.Render("~/Assets/css/theme.css")

</head>
<body class="animsition">
    <div class="page-wrapper">
        <!-- Header Mobile -->
        @Html.Partial("Components/_HeaderMobile")
        <!-- Sidebar -->
        @Html.Partial("Components/_Sidebar")
        <div class="page-container">
            <!-- Main Component -->
            <!-- Header -->
            @Html.Partial("Components/_Header")
            <!-- Content -->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    @Scripts.Render("~/Assets/vendor/jquery-3.2.1.min.js")
    <!-- Bootstrap JS-->
    @Scripts.Render("~/Assets/vendor/bootstrap-4.1/popper.min.js")
    @Scripts.Render("~/Assets/vendor/bootstrap-4.1/bootstrap.min.js")
    <!-- Vendor JS       -->
    @Scripts.Render("~/Assets/vendor/slick/slick.min.js")
    @Scripts.Render("~/Assets/vendor/wow/wow.min.js")
    @Scripts.Render("~/Assets/vendor/animsition/animsition.min.js")
    @Scripts.Render("~/Assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js")
    @Scripts.Render("~/Assets/vendor/counter-up/jquery.waypoints.min.js")
    @Scripts.Render("~/Assets/vendor/counter-up/jquery.counterup.min.js")
    @Scripts.Render("~/Assets/vendor/circle-progress/circle-progress.min.js")
    @Scripts.Render("~/Assets/vendor/perfect-scrollbar/perfect-scrollbar.js")
    @Scripts.Render("~/Assets/vendor/chartjs/Chart.bundle.min.js")
    @Scripts.Render("~/Assets/vendor/select2/select2.min.js")

    <!-- Main JS-->
    @Scripts.Render("~/Assets/js/main.js")
</body>

</html>